.footerHome {
    color: white;
    text-align: center;
    background-color: rgba(46,46,53,255);
    border-top: 3px solid #e0a94a;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    margin-top: 30px;
}