@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poller+One&family=Rasa:wght@300&family=Rock+Salt&display=swap');


.homeComponent {
    padding: 100px 0 0 0;
    margin: 0;
    overflow-x: hidden; 

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #e0a94a;
        font-size: 15px;
        ;
    }

    h3 {
        //font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        color: white;
        font-style: bold;
        font-family: "Poller One";
        font-weight: 400;
    }

    h3 + p {
        font-family: 'Rasa';
        font-weight: 300;
        font-size: 20px;
        color: white;
    }

    /********************** PRESENTATION **********************/

    @import "./Home/Presentation.scss";



    /********************** CV **********************/

    @import "./Home/CV.scss";



    /********************** CONTACT **********************/
    
    @import "./Home/Contact.scss";



    .scrollTop { 
        margin-left: 80vw;
        padding-bottom: 20px;
    }     
}


// Extra small devices (portrait phones, less than 576px)
// Ex : col-2
@media (max-width: 575.98px) { 
    .homeComponent {
    
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #e0a94a;
            font-size: 15px;
        }
    
        h3 {
            font-size: 26px;
        }

        h3 + p {
            font-size: 15px;
        }
    }
}


