@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poller+One&family=Rasa:wght@300&family=Rock+Salt&display=swap');

.second-block {
    height: auto;
    background-color: rgb(52,52,60);
    width: 100vw;
    padding-top: 140px;
    padding-bottom: 100px;

    .section-portfolio {
        text-align: center;

        h2 {
            font-family: 'Open Sans', sans-serif;
        }
    }

    .miniMenuCV {
        justify-content: center;
        margin-top: 40px;

        .nav{
            justify-content: center;
        }

        .nav-item {
            .nav-link{
                color: white;
                border-bottom: 2px solid white;
                font-family: 'Rasa';
                font-weight: bold;
                font-size: 20px;

                &:hover {
                    color: #e0a94a;
                }

                &:focus,&:active {
                    color: #e0a94a;
                    border-bottom: 2px solid #e0a94a;
                    background-color: rgb(52,52,60);
                }
            } 

            .activ {
                color: #e0a94a;
                border-bottom: 2px solid #e0a94a;
            }
        }

        .tab-content {
            
            .tab-pane {
                .tab-pane-cv {
                    flex-direction: column;
                    padding-top: 40px;
                }

                .tab-pane-master {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    flex-direction: column;
                    margin-right: auto;
                    margin-left: auto;

                    .i2A {
                        font-style: italic;
                        font-size: 15px;
                    }

                    p {
                        color: white;
                        margin-right: auto;
                        margin-left: auto;
                        text-align: center;
                        font-family: 'Rasa';
                        font-weight: 300;
                        font-size: 20px;
                    }
                }

                .miniatureCV {
                    margin-right: auto;
                    margin-left: auto;
                    cursor: zoom-in;
                }

                .zoomCV {
                    cursor: zoom-out;
                // ne marche pas
                }

                .downloadCVbutton {
                    font-family: 'Rasa';
                    font-weight: bold;
                    font-size: 20px;

                    background-color: rgba(46,46,53,255);
                    color: #e0a94a;
                    border: 3px solid #e0a94a;
                    margin-top: 40px;
                    width: auto;
                    margin-right: auto;
                    margin-left: auto;
                    height: auto;
                    padding: 10px;
                    transition-duration: .5s;
        
                    &:hover,&:focus,&:active {
                        background-color: #e0a94a;
                        color:rgb(44,44,52);
                        text-decoration: none;
                    }
                }

                .tab-pane-hobbies {
                    font-weight: bold;
                    padding-top: 30px;
                    padding-bottom: 30px;

                    p {
                        color: white;
                        margin-left: auto;
                        margin-right: auto;  
                        font-size: 25px;
                    }

/**********************************/

                    @import "../Slideshow.scss";

/**********************************/
                }   

                #interet {
                    font-size: 35px;
                    color:#e0a94a;
                    text-align: center;
                }    
            }
        }
    }
}


// Extra small devices (portrait phones, less than 576px)
// Ex : col-2
@media (max-width: 575.98px) { 
    
    .miniMenuCV{
        .second-block{
            .miniMenuCV {
                justify-content: center;
                margin-top: 40px;
                
        
                .nav{
                    justify-content: center;
                }
        
                .nav-item {

                    .nav-link{
                        color: white;
                        border-bottom: 2px solid white;
                        font-family: 'Rasa';
                        font-weight: bold;
                        font-size: 20px;
        
                        &:hover {
                            color: #e0a94a;
                        }
        
                        &:focus,&:active {
                            color: #e0a94a;
                            border-bottom: 2px solid #e0a94a;
                            background-color: rgb(52,52,60);
                        }
                    } 
        
                    .activ {
                        color: #e0a94a;
                        border-bottom: 2px solid #e0a94a;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
// Ex : col-sm-2
@media (min-width: 576px) and (max-width: 767.98px) { 

}

// Medium devices (tablets, 768px and up)
// Ex : col-md-2
@media (min-width: 768px) and (max-width: 991.98px) { 

}

// Large devices (desktops, 992px and up)
// Ex : col-lg-2
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

// Extra large devices (large desktops, 1200px and up)
// Ex : col-xl-2
@media (min-width: 1200px) { 

}